@import "../../../css-config/mixins.scss";

.main-screen-resource {
  margin-top: 59px;
  .container-resource {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    @include md {
      flex-direction: row;
    }
    .topic-list {
      flex: 1;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .header-topic {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .list-item {
        padding: 5px;
        margin: 5px;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .resource-page {
      font-size: 1.3rem;
      flex: 5;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      text-wrap: wrap;
      overflow-wrap: normal;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      pre {
        background-color: #ccc;
        padding: 5px;
        margin: 5px;
        white-space: pre-wrap;
        line-height: 2;
        @include md {
          padding: 1rem;
          margin: 1rem;
        }
      }
      img {
        max-width: 80vw;
        max-height: 400px;
        @include md {
          max-width: 800px;
        }
      }
    }
  }
}
