// Define a container for the video library
.video-library-container {
  background-color: #f0f0f0; // Set the background color
  padding: 20px; // Add padding around the container
}

// Style the video items container
.video-items {
  display: flex; // Display items horizontally
  flex-wrap: wrap; // Allow items to wrap to the next line
  gap: 20px; // Add some spacing between items
}

// Style the individual video item
/* Define styles for the video item */
.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.video-thumbnail {
  iframe {
    width: 100%;
    // max-width: 100%;
    height: auto;
    border: none;
  }
}

/* Style for the heading */
.title {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
}
