@import "../../css-config/mixins.scss";
.routine-main {
  max-width: 400px;
  min-width: 400px;
  .heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .routine-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    .main-item {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 10px;
      background-color: rgb(0, 255, 238);
      .time {
      }
      .subject-name {
        font-size: 20px;
        font-weight: 700;
      }
      .teacher-info {
      }
    }
  }
}
