@import "../../css-config/mixins.scss";

.student-dashboard {
  padding: 10px;
  padding-left: 20px;
  .student-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .name {
      font-size: 28px;
      text-transform: capitalize;
      @include md {
        font-size: 40px;
      }
    }
    .profile-options {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      @include md {
        gap: 10px;
      }
      .profile-pic {
        font-size: 30px;
      }
    }
  }
  .course-details {
    font-size: 18px;
    color: rgba($color: #000000, $alpha: 0.8);
  }
  .main-page {
    // margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    // justify-content: space-between;
    .aside {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 400px;
      max-width: 400px;
      min-width: 400px;
      .routine-main {
        .heading {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .routine-container {
          gap: 10px;
          display: flex;
          flex-direction: column;
          .main-item {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 10px;
            background-color: rgb(0, 255, 238);
            .time {
              font-size: 12px;
            }
            .subject-name {
              font-size: 20px;
              font-weight: 700;
            }
            .teacher-info {
              font-size: 12px;
            }
          }
        }
      }
      /* Styling for the fee-main container */
      .fee-main {
        background-color: #f5f5f5;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;

        /* Styling for the heading */
        .heading {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        /* Styling for the fee-container */
        .fee-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          /* Styling for the fee-item-container */
          .fee-item-container {
            background-color: #fff;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;

            /* Styling for the semester name */
            .sem-name {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 10px;
            }

            /* Styling for the "PAID" label */
            .paid {
              color: lightgreen;
              font-weight: bold;
            }
          }
        }
      }
    }
    .main-mid {
      width: 100%;
      .main-syl-screen {
        background-color: #868282;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        .heading {
          font-size: 28px;
          text-align: center;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
      .syllabus-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        padding-top: 10px;
      }

      .subject-list {
        flex: 1;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .subject-item {
          padding: 5px;
          margin: 5px;
          background-color: #007bff;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      /* Styling for the syllabus item container */
      .syl-item-container {
        flex: 3;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /* Enable vertical scrolling for content */
      }

      .syllabus-item {
        background-color: #fff;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease-out;
        &:hover {
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
        }
        /* Styling for the title */
        .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        /* Styling for the description */
        .desc {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
}
