/* Styling for the main container */
.learn-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px;
  justify-content: center;
  height: 83vh;
  background-color: #f3f3f3;
  position: relative;

  /* Styling for the heading text */
  .heading-text {
    font-size: 24px;
    margin-bottom: 50px;
  }

  /* Styling for the video container */
  .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    /* Styling for individual video items */
    .video-item {
      width: 400px;
      height: 300px;
      background-color: #d6d6d6;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }

  /* Styling for the search box */
  .search-box {
    margin-top: 20px;
    display: flex;

    /* Styling for the input field */
    input[type="text"] {
      padding: 10px;
      width: 340px;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
    }

    /* Styling for the send button */
    .send-button {
      width: 30px;
      height: 30px;
      background-color: #007bff;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      margin-left: 10px;
    }
  }
  .visit-library {
    position: absolute;
    background-color: #b3b3b3;
    padding: 10px;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
}
