@import "../../css-config/mixins.scss";

$primary: #6979d3;
$cont: #1d0f4a;
// Define styles for the content container
.content {
  position: sticky;
  top: 0;
  z-index: 1000;
}

// Define styles for the navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  background: rgb(182, 51, 118);
}

// Define styles for the logo
.logo {
  font-size: 30px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

// Define styles for the links in the navbar
.all-links {
  display: flex;
  gap: 30px;
  a {
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    &:hover {
      color: #7bedff;
      &:after {
        width: 100%;
      }
      &:before {
        width: 100%;
      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 0;
      background-color: #f3940e;
      bottom: 0;
      right: 0;
      height: 2px;
      transition: 0.3s all ease-in-out;
    }
    &:before {
      position: absolute;
      content: "";
      width: 0;
      background-color: #f3940e;
      top: 0;
      left: 0;
      height: 2px;
      transition: 0.3s all ease-in-out;
    }
  }
}

// Define styles for the login section
.login {
  display: flex;
  gap: 10px;
  .login-button,
  .sign-up {
    background-color: #ffad39;
    color: #fff;
    user-select: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background-color: #ffd07e;
    }
  }
}
