@import "../../css-config/mixins.scss";

$primary: #3f51b5;

// Define styles for the content container
.content {
  position: sticky;
  top: 0;
  z-index: 1000;
}

// Define styles for the navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 100px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

// Define styles for the logo
.logo {
  font-size: 30px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

// Define styles for the links in the navbar
.all-links {
  display: flex;
  gap: 30px;
  a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    &:hover {
      color: #00ffc3;
    }
  }
}

// Define styles for the login section
.login {
  display: flex;
  gap: 10px;
  .login-button,
  .sign-up {
    background-color: $primary;
    color: #fff;
    user-select: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #1f8bff;
    }
  }
}
