@import "../../css-config/mixins.scss";
.banner {
  padding: 40px 0;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  height: calc(100vh - 80px);
  .content {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .heading {
      font-size: 80px;
      color: cyan;
      font-family: fantasy;
      font-weight: 700;
      margin-bottom: 20px;
      @include md {
        font-size: 120px;
      }
    }
  }
}
