@import "../../css-config/mixins.scss";
.banner {
  padding: 40px 0;
  // background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(303deg, #b63376 5%, #1d0f4a 57%);
  height: 94vh;
  .content {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .heading {
      font-size: 80px;
      color: cyan;
      font-family: sans-serif;
      font-weight: 700;
      margin-bottom: 20px;
      @include md {
        font-size: 120px;
      }
    }
  }
}
