@import "../../../css-config/mixins.scss";
.syllabus-container {
  display: flex;
  width: 100%;
  margin-right: 50px;
  padding: 15px;
  flex-direction: row;
  background-color: #00000055;
  .subject-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .subject-item {
      background-color: rgba(10, 166, 209, 0.474);
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .syl-item-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    .syllabus-item {
      padding: 8px;
      background-color: #00ddffab;
      border-radius: 20px;
      height: 95%;
      .title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 16px;
        color: rgba($color: #000000, $alpha: 0.8);
      }
    }
  }
}
