@import "../../css-config/mixins.scss";

.main-screen {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-main-container {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1200px;
  text-align: center;

  .single-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .single-image {
    margin: 10px 0;
    img {
      height: auto;
      max-width: 80vw;
      @include md {
        max-width: 800px;
      }
    }
  }

  .single-desc {
    font-size: 22px;
    margin: 10px auto;
    max-width: 800px;
  }

  .enroll-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    button {
      background-color: #007bff;
      color: white;
      font-size: 18px;
      border: none;
      padding: 15px 60px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-left: 10px;

      &:hover {
        background-color: #0056b3;
      }
    }
    .price {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .instructor-container {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ddd;
    max-width: 350px;
    margin-bottom: 50px;
    padding-bottom: 30px;

    .instructor-text {
      font-size: 18px;
      font-weight: bold;
    }
    .pic {
      margin: 10px 0;
      img {
        max-width: 200px;
        max-height: 350px;
      }
    }
    .instructor-name {
      font-size: 22px;
      font-weight: bold;
      margin-top: 5px;
    }
    .instructor-description {
      font-size: 14px;
      padding: 0 10px;
      margin-top: 5px;
    }
    .email {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
